body {
    overflow-x: hidden;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #333;
}


p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}


header {
    height: 969px;
    color: rgb(24, 188, 156);
	background: url("../img/header_bg7.jpg") no-repeat fixed rgba(0, 0, 0, 0);
    background-position: center center;
    background-size:  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}


.black-overlay { 
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(ellipse at center center , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 100%;
    left: 0;
    position: static;
    top: 0;
    width: 100%;
    z-index: 0;

}

.black-overlay2 {
    background-color: #000;
    background-size: auto auto;
    opacity: 0.7;
    height: 100%;
    left: 0;
    position: static;
    top: 0;
    width: 100%;
    z-index: 0;
}

.pattern {
    background-image: url("../img/black-dot-bg.png");    
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
}

.rbLogo {
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    width: 250px;
}

.valign {
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 50px;
    letter-spacing: 20px;
}

header h1, header p {
    color: #fff !important;
}

header p {
    font-size: 14px;
    letter-spacing: 0.5px;
}


header .separator{
    margin-bottom: 30px;
    margin-top: 30px;
}
.separator {
    max-width: 170px;
    width: 170px;
}

header .container {
    padding-bottom: 200px;
    padding-top: 200px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}


#about .intro-text{
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom:150px;
    text-align: left;
}

#about .intro-text .name {
    font-family:Raleway,Helvetica,Arial,sans-serif;
    font-size: 2.5em;
    font-weight: 300;
	line-height:1;
	text-align:left;
    color: rgb(15, 181, 179);
}

#about .intro-text .skills {
    color:#fff;
	font-weight:bold;
}

#about h4 { 
    text-align: left;
    padding: 15px 0 30px 0;
    color: #0fb5b3;
}


.navbar-default .navbar-nav > li > a {
    color: #e3005b;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:#fff;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:#000;
}




@media (max-width : 767px) {

    h1 {
        font-size: 25px;
        letter-spacing: 10px;
    }

    #contact h1 {
        font-size: 43px !important;
        letter-spacing: 0;
    }

    header .container {
        padding-bottom: 100px;
        padding-top: 90px;
    }

    .navbar-default {
        font-size: 12px !important;
        letter-spacing: 0.5px;
        padding-bottom: 0 !important;
        padding-left: 10px !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }

    #portfolio {
        background-color:#fff;
    }


    #about .intro-text .name {
        font-size: 2em;
    }

    .intro-text{
        width: 200px;
        margin-top: 0;
        overflow: visible;
        margin-left: inherit;
        height: 180px;
    }

    .typed-cursor{
        font-size: 0.8em !important;
    }

    header .separator {
        margin:0 auto 10px;
    }

    header p {
        line-height: 1.5;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color:rgb(227, 0, 91);
    }

    .nav > li {
        text-align: center;
    }

    #profile {
        margin-top: -300px;
    }

    .section-about-top {
        padding-bottom: 140px !important;
        padding-top: 50px !important;
    }


}



@media(max-width: 768px) {
    .navbar-brand img {
        height: 54px !important;   
        margin: 10px 15px 0 10px;   
    }

    .navbar-header.page-scroll {
        padding: 0;
    }
}



.navbar-fixed-top {
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
     background:none;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color:#fff;
}


.navbar-fixed-top .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    padding-left: 0;
}

.navbar-fixed-top.navbar-shrink {
    background:#111;
    padding-top: 0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}



.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
}


.navbar-default {
    padding-top:30px;
}

.navbar a:focus {
    outline: 0;
}


.navbar-fixed-top.navbar-shrink .navbar-brand  a:hover{color:#fff !important;}

.navbar .navbar-nav {
    letter-spacing: 1px;
    font-size: 13px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
	background:222;
	
}


section h2 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 35px;
    padding-bottom: 50px;
}

section.success {
    color: #fff;
    background: #18bc9c;
	padding:35px 0 35px 0;
}


#profile h1 {

}

#profile p {
    font-size: 22px;
}

.section-about-top {
    background-color: rgb(15, 181, 179);
    color: rgb(255, 255, 255);
    padding-bottom: 165px;
    padding-top: 100px;
    position: relative;
    z-index: 3;
}

.cursor-tag {
    color:#d80b36;
}
.text-center {
    text-align: center;
}

.avatar-lg {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 160px;
    width: 160px;
}

.section-about-top .avatar-lg {
    border: 5px solid #FFF;
    position: absolute;
    bottom: -85px;
    left: 50%;
    margin-left: -85px;
}

.section-offer {
    background-color: #EEE;
    border-top: 1px solid #D9D7D8;
    border-bottom: 1px solid #D9D7D8;
}


.section-about-bottom {
    padding-top: 165px;
    padding-bottom: 100px;
    background-color: #FFF;
    position: relative;
    z-index: 2;
}

.icons {
    font-size: 40px;
}

.section-about-bottom i {
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #777;
    padding: 40px;
}

.text-muted {
    color: #777;
}


.section-offer {
    background-color: #EEE;
    border-top: 1px solid #D9D7D8;
    border-bottom: 1px solid #D9D7D8;
}

.global-section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}

.margin-btm-50 {
    margin-bottom: 50px;
}

.offer:hover {
    color: #FFF;
    background-color: #0FB5B3;
    border: 1px solid #FFF;
}

.offer {
    position: relative;
    padding: 30px 30px 30px 100px;
    background-color: transparent;
    border: 1px solid #D9D7D8;
    border-radius: 6px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    word-wrap: break-word;
}

.offer-icon {
    color: #777;
    position: absolute;
    left: 30px;
    top: 40px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    line-height: 0;
}

.offer:hover .offer-icon {
    color: #FFF;
}

.margin-btm-30 {
    margin-bottom: 30px;
}

* {
    box-sizing: border-box;
}


#about {
    background: url("../img/rb1.jpg") no-repeat fixed rgba(0, 0, 0, 0);
    background-position: center center;
    background-size:  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}


section.success{
    padding:0 !important;
}

.personal-blurb:hover i {
    color: #0FB5B3;
    border: 2px solid #0FB5B3;
}





#portfolio {
	background-color:#000;
}

#portfolio h2 {
    padding: 30px 0;
	color:#fff;
}




#portfolio .portfolio-item {
    margin: 0 auto;
	padding:0;
}


#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;

}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}


.modal-content .col-lg-8 {
	width:100%;
	margin: 0 auto;
}



.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #2c3e50;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}


#contact {
    background: url("../img/contact_bg.jpg") no-repeat center bottom fixed rgba(0, 0, 0, 0);
    padding: 90px 0;
    color: #35295f;
    letter-spacing: 1px;

}

#contact h1{
    font-size: 65px;
    margin-top: -5px;
    margin-bottom: 0;
}



form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
	background-color:#111;
	border-bottom-color: #000;
	opacity:0.8;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
	background:url("../img/diagonal-line2.png") #fff;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


#portfolio  .container{
    width:100%;
    padding: 0;
    margin:0;
    overflow: hidden;
}



